/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 11, 2025, 5:26:28 PM
    Author     : Admin
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', sans-serif;
}

header {
    background-color: #8C6E63;
}


.logo-header {
    width: 120px;
    height: auto;
    object-fit: cover;
}

/* Menu */
.content-header-menu>div>a,
.content-header-menu .dropdown>a {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.btn {
    all: unset;
    cursor: pointer;
    font-size: 20px;
}

.btn.show{
    border: none;
}

.content-header-menu>div>a:hover,
.dropdown>a.btn:hover {
    color: #FFF2DF;
    text-decoration: underline;
    transition: all 0.3s ease;
}

/* Dropdown */
/* Khi hover vào dropdown, hiển thị menu */
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Giữ dropdown-menu hiển thị mượt mà */
.dropdown-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.bi-search {
    color: #8C6E63;
    background-color: white;
    width: 42px;
    height: 42px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.bi-search:hover {
    color: #FFF2DF;
    transform: scale(1.2);
}


.search-container {
    position: absolute;
    top: 102px; /* Điều chỉnh khoảng cách so với nút */
    right: 230px; /* Canh chỉnh vị trí */
    display: none;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000; /* Đảm bảo ô tìm kiếm không bị che khuất */
}

.search-box {
    border: 2px solid #D3A376;
    outline: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    width: 250px;
}

/* User icon */
.bxs-user-circle {
    font-size: 42px;
    color: white;
    transition: transform 0.3s ease;
}

.bxs-user-circle:hover {
    color: #FFF2DF;
    transform: scale(1.2);
}

.bx bxs-key , .bx-lock-alt{
    color: black;
}

/* Cart */
.cart-btn {
    display: flex;
    align-items: center;
    background: white;
    padding: 6px 12px;
    border: 2px solid #D3A376;
    border-radius: 10px;
    text-decoration: none;
    /* Đảm bảo không có gạch chân */
    transition: all 0.3s ease;
}

.cart-icon {
    font-size: 20px;
    color: #D3A376;
    margin-right: 8px;
}

.cart-text {
    font-weight: bold;
    color: #3E2522;
    font-size: 16px;
}

/* Khi hover, đảm bảo tất cả đều đổi màu */
.cart-btn:hover {
    background-color: #D3A376;
    color: white;
}

.cart-btn:hover .cart-icon,
.cart-btn:hover .cart-text {
    color: white !important;
}