/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 11, 2025, 5:26:28 PM
    Author     : Admin
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #004aad;
    padding: 0 60px;
    margin-bottom: 30px;
}

.logo-header {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.form-control {
    height: 45px;
}

.content-header-all-icon>div:not(:first-of-type) i:not(.dropdown-menu2 li i) {
    color: white;
}

.content-header-search-icon {
    right: 20px;
}

.content-header-menu>div>a,
.content-header-menu .dropdown>a {
    color: white;
    font-weight: bold;
}

.btn {
    all: unset;
    cursor: pointer;
}

.btn:active {
    color: white !important;
}

.dropdown>a {
    padding: 0 0 10px 0;
}

.content-header-menu>div>a:hover,
.dropdown:not(.dropdown2)>a.btn:hover {
    color: orange;
}

.dropdown-menu:not(.dropdown-menu2) {
    opacity: 0;
    visibility: hidden;
    transform: translate(0px, 0px);
    transition: all 0.3s ease;
    display: block;
}

.dropdown:not(.dropdown2):hover .dropdown-menu:not(.content-header-user-icon) {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 10px);
    transition: all 0.3s ease;
}

.fa-circle-user,
.fa-opencart {
    transform: scale(1);
    transition: all 0.3s ease;
}

.fa-circle-user:hover,
.fa-opencart:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.dropdown-menu2>li a:hover {
    color: orangered;
}

/* .dropdown-menu2 {
    opacity: 0;
    visibility: hidden;
    transform: translate(0px, 30px);
    transition: all 0.3s ease;
    display: block;
}

.dropdown-menu2.show {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    transition: all 0.3s ease;
} */