<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>DashboardFillter</filter-name>
        <filter-class>Fillter.DashboardFillter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CustomerFillter</filter-name>
        <url-pattern>/dashboard/*</url-pattern>
    </filter-mapping>
     <filter>
        <filter-name>CustomerFillter</filter-name>
        <filter-class>Fillter.CustomerFillter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CustomerFillter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ShopControl</servlet-name>
        <servlet-class>controller.ShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerControl</servlet-name>
        <servlet-class>controller.ManagerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagementServlet</servlet-name>
        <servlet-class>controller.OrderManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>controller.EmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>controller.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFinancialStatisticsServlet</servlet-name>
        <servlet-class>controller.ViewFinancialStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPetRoomsListServlet</servlet-name>
        <servlet-class>controller.PetHotelManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePetHotelServlet</servlet-name>
        <servlet-class>controller.DeletePetHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>controller.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginStaffServlet</servlet-name>
        <servlet-class>controller.LoginStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomersListServlet</servlet-name>
        <servlet-class>controller.CustomersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomersBanServlet</servlet-name>
        <servlet-class>controller.CustomersBanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPetHotelServlet</servlet-name>
        <servlet-class>controller.AddPetHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPetHotelServlet</servlet-name>
        <servlet-class>controller.EditPetHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPetServlet</servlet-name>
        <servlet-class>controller.ViewPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetViewDetailServlet</servlet-name>
        <servlet-class>controller.PetViewDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPetServlet</servlet-name>
        <servlet-class>controller.EditPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePetServlet</servlet-name>
        <servlet-class>controller.DeletePetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetHotelBookingManagementServlet</servlet-name>
        <servlet-class>controller.PetHotelBookingManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetHotelServlet</servlet-name>
        <servlet-class>controller.PetHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetHotelDetailServlet</servlet-name>
        <servlet-class>controller.PetHotelDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>controller.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagementServlet</servlet-name>
        <servlet-class>controller.ProductManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackManagementServlet</servlet-name>
        <servlet-class>controller.FeedbackManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>controller.CreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPetServlet</servlet-name>
        <servlet-class>controller.AddPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutStaffServlet</servlet-name>
        <servlet-class>controller.LogoutStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdminServlet</servlet-name>
        <servlet-class>controller.LogoutAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffProfileServlet</servlet-name>
        <servlet-class>controller.StaffProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStaffPasswordServlet</servlet-name>
        <servlet-class>controller.ChangeStaffPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfileServlet</servlet-name>
        <servlet-class>controller.AdminProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAdminPasswordServlet</servlet-name>
        <servlet-class>controller.ChangeAdminPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>controller.StaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDeleteServlet</servlet-name>
        <servlet-class>controller.StaffDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManagementServlet</servlet-name>
        <servlet-class>controller.CategoryManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryServlet</servlet-name>
        <servlet-class>controller.EditCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <servlet-class>controller.CreateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>controller.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingHistoryServlet</servlet-name>
        <servlet-class>controller.BookingHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingHistoryDetailServlet</servlet-name>
        <servlet-class>controller.BookingHistoryDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBookingServlet</servlet-name>
        <servlet-class>controller.CancelBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>controller.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAddServlet</servlet-name>
        <servlet-class>controller.StaffAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherManagementServlet</servlet-name>
        <servlet-class>controller.VoucherManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateVoucherServlet</servlet-name>
        <servlet-class>controller.CreateVoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVoucherServlet</servlet-name>
        <servlet-class>controller.EditVoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffServlet</servlet-name>
        <servlet-class>controller.EditStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterGoogle</servlet-name>
        <servlet-class>controller.RegisterGoogle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PetHotelServlet</servlet-name>
        <url-pattern>/pethotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetHotelDetailServlet</servlet-name>
        <url-pattern>/pethoteldetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopControl</servlet-name>
        <url-pattern>/ShopControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerControl</servlet-name>
        <url-pattern>/ManagerControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagementServlet</servlet-name>
        <url-pattern>/dashboard/staff/ordermanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/GoogleLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFinancialStatisticsServlet</servlet-name>
        <url-pattern>/viewfinancialstatistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPetRoomsListServlet</servlet-name>
        <url-pattern>/dashboard/admin/petroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePetHotelServlet</servlet-name>
        <url-pattern>/deleteroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginStaffServlet</servlet-name>
        <url-pattern>/loginstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/pawfect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomersListServlet</servlet-name>
        <url-pattern>/dashboard/admin/customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomersBanServlet</servlet-name>
        <url-pattern>/dashboard/admin/customersban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPetHotelServlet</servlet-name>
        <url-pattern>/dashboard/admin/addroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPetHotelServlet</servlet-name>
        <url-pattern>/dashboard/admin/editroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetHotelBookingManagementServlet</servlet-name>
        <url-pattern>/dashboard/staff/pethotelbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPetServlet</servlet-name>
        <url-pattern>/viewpet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetViewDetailServlet</servlet-name>
        <url-pattern>/petviewdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPetServlet</servlet-name>
        <url-pattern>/editpet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePetServlet</servlet-name>
        <url-pattern>/deletepet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/dashboard/admin/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagementServlet</servlet-name>
        <url-pattern>/dashboard/admin/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackManagementServlet</servlet-name>
        <url-pattern>/dashboard/staff/feedbackmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/dashboard/admin/createproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPetServlet</servlet-name>
        <url-pattern>/createpet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutStaffServlet</servlet-name>
        <url-pattern>/dashboard/staff/logoutstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdminServlet</servlet-name>
        <url-pattern>/dashboard/admin/logoutadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffProfileServlet</servlet-name>
        <url-pattern>/dashboard/staff/staffprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStaffPasswordServlet</servlet-name>
        <url-pattern>/dashboard/staff/changestaffpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfileServlet</servlet-name>
        <url-pattern>/dashboard/admin/adminprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAdminPasswordServlet</servlet-name>
        <url-pattern>/dashboard/admin/changeadminpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/dashboard/admin/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDeleteServlet</servlet-name>
        <url-pattern>/dashboard/admin/staffdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManagementServlet</servlet-name>
        <url-pattern>/dashboard/admin/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryServlet</servlet-name>
        <url-pattern>/dashboard/admin/editcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <url-pattern>/dashboard/admin/createcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingHistoryServlet</servlet-name>
        <url-pattern>/bookinghistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingHistoryDetailServlet</servlet-name>
        <url-pattern>/bookinghistorydetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBookingServlet</servlet-name>
        <url-pattern>/cancelbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAddServlet</servlet-name>
        <url-pattern>/dashboard/admin/staffadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherManagementServlet</servlet-name>
        <url-pattern>/dashboard/admin/voucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateVoucherServlet</servlet-name>
        <url-pattern>/dashboard/admin/createvoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVoucherServlet</servlet-name>
        <url-pattern>/dashboard/admin/editvoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffServlet</servlet-name>
        <url-pattern>/dashboard/admin/editstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterGoogle</servlet-name>
        <url-pattern>/registergoogle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pawfect</welcome-file>
    </welcome-file-list>
</web-app>
