<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShopControl</servlet-name>
        <servlet-class>controller.ShopControl</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>bookingdetail.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ManagerControl</servlet-name>
        <servlet-class>controller.ManagerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetRoomDetailServlet</servlet-name>
        <servlet-class>controller.PetRoomDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetRoomListServlet</servlet-name>
        <servlet-class>controller.PetRoomListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopControl</servlet-name>
        <url-pattern>/ShopControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerControl</servlet-name>
        <url-pattern>/ManagerControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetRoomDetailServlet</servlet-name>
        <url-pattern>/petroomdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetRoomListServlet</servlet-name>
        <url-pattern>/PetRoomListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
