<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShopControl</servlet-name>
        <servlet-class>controller.ShopControl</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>pawfect</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ManagerControl</servlet-name>
        <servlet-class>controller.ManagerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagementServlet</servlet-name>
        <servlet-class>controller.OrderManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>controller.EmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>controller.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFinancialStatisticsServlet</servlet-name>
        <servlet-class>controller.ViewFinancialStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetRoomDetailServlet</servlet-name>
        <servlet-class>controller.PetRoomDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetRoomListServlet</servlet-name>
        <servlet-class>controller.PetRoomListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPetRoomsListServlet</servlet-name>
        <servlet-class>controller.AdminPetRoomsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteRoomServlet</servlet-name>
        <servlet-class>controller.AdminDeleteRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>controller.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginStaffServlet</servlet-name>
        <servlet-class>controller.LoginStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomersListServlet</servlet-name>
        <servlet-class>controller.CustomersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomersBanServlet</servlet-name>
        <servlet-class>controller.CustomersBanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddRoomServlet</servlet-name>
        <servlet-class>controller.AdminAddRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditRoomServlet</servlet-name>
        <servlet-class>controller.AdminEditRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductSerlvet</servlet-name>
        <servlet-class>controller.ProductManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPetServlet</servlet-name>
        <servlet-class>controller.ViewPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetViewDetailServlet</servlet-name>
        <servlet-class>controller.PetViewDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopControl</servlet-name>
        <url-pattern>/ShopControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerControl</servlet-name>
        <url-pattern>/ManagerControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagementServlet</servlet-name>
        <url-pattern>/ordermanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/GoogleLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFinancialStatisticsServlet</servlet-name>
        <url-pattern>/viewfinancialstatistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetRoomDetailServlet</servlet-name>
        <url-pattern>/petroomdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetRoomListServlet</servlet-name>
        <url-pattern>/petrooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPetRoomsListServlet</servlet-name>
        <url-pattern>/dashboard/admin/petroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteRoomServlet</servlet-name>
        <url-pattern>/deleteroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginStaffServlet</servlet-name>
        <url-pattern>/loginstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/pawfect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomersListServlet</servlet-name>
        <url-pattern>/dashboard/admin/customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomersBanServlet</servlet-name>
        <url-pattern>/dashboard/admin/customersban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddRoomServlet</servlet-name>
        <url-pattern>/dashboard/admin/addroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditRoomServlet</servlet-name>
        <url-pattern>/dashboard/admin/editroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductSerlvet</servlet-name>
        <url-pattern>/dashboard/admin/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPetServlet</servlet-name>
        <url-pattern>/viewpet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetViewDetailServlet</servlet-name>
        <url-pattern>/petviewdetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
